@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewBag.Title = "登録情報一覧";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var cnt = 1;
}
<h2>登録情報一覧</h2>
<a href='@Url.Action("Create", "Home")' class="btn btn-primary">新規登録</a>
<!-- あそび -->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">　</div>
    <div class="col-md-4"></div>
</div>
<table class="table table-hover">
    <tr class="thead-dark">
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @cnt
                @{ cnt++; }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <p>
                    <a href='@Url.Action("Details", "Home",new { id = item.Id })'>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </a>
                </p>
            </td>
            <td>
                <div>
                    <a href='@Url.Action("Edit", "Home",new { id = item.Id })' class="btn btn-warning">編集</a>
                    <a href='@Url.Action("Delete", "Home",new { id = item.Id })' class="btn btn-danger">削除</a>
                </div>
            </td>
        </tr>
    }
</table>
